{erl_opts, [debug_info]}.

{artifacts, ["priv/iconverl.so"]}.
{plugins, [{pc, "1.13.0"}]}.
{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean,   {pc, clean  }}
    ]}]
}.

{so_name, "iconverl.so"}.

{port_env,
 [{"linux",  "DRV_CFLAGS",  "$DRV_CFLAGS -O2 -Wall -pedantic -Wextra -Wno-unused-parameter"},
  {"darwin", "DRV_CFLAGS",  "$DRV_CFLAGS -fno-common"},
  {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -liconv"},
  {"freebsd", "DRV_LDFLAGS", "$DRV_LDFLAGS -liconv"}]}.

{port_specs, [{"priv/iconverl.so", ["c_src/iconverl.c"]}]}.

{project, "iconverl"}.
{version, "3.0.21"}.
{description, "Erlang NIF library for iconv."}.
{licenses, ["MIT"]}.
{authors, ["Eric des Courtis <eric.des.courtis@gmail.com>"]}.
{maintainers, ["Eric des Courtis"]}.
{files, ["src/**", "include/**", "priv/**", "c_src/**", "rebar.config", "README.md", "LICENSE"]}.
{build_tools, ["rebar3"]}.

{edoc_opts, [{source_path, ["src"]}, {overview, "./README.md"}]}.

