{erl_opts, [debug_info]}.

{artifacts, ["priv/iconverl.so"]}.
{plugins, [pc]}.
{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean,   {pc, clean  }}
    ]}]
}.

{so_name, "iconverl.so"}.

{port_env,
 [{"linux",  "DRV_CFLAGS",  "$DRV_CFLAGS -O2 -Wall -pedantic -Wextra -Wno-unused-parameter -I c_src/libiconv-1.16/include/"},
  {"darwin", "DRV_CFLAGS",  "$DRV_CFLAGS -fno-common -I c_src/libiconv-1.16/include/"},
  {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS c_src/libiconv-1.16/lib/.libs/libiconv.a"},
  {"freebsd", "DRV_LDFLAGS", "$DRV_LDFLAGS ./c_src/libiconv-1.16/lib/.libs/libiconv.a"}]}.

{port_specs, [{"priv/iconverl.so", ["c_src/iconverl.c"]}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.
