{erl_opts, [debug_info]}.

{artifacts, ["priv/iconverl.so"]}.
{plugins, [pc]}.
{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean,   {pc, clean  }}
    ]}]
}.

{so_name, "iconverl.so"}.

{port_env,
 [{"linux",  "DRV_CFLAGS",  "$DRV_CFLAGS -O2 -Wall -pedantic -Wextra -Wno-unused-parameter"},
  {"darwin", "DRV_CFLAGS",  "$DRV_CFLAGS -fno-common"},
  {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -liconv"},
  {"freebsd", "DRV_LDFLAGS", "$DRV_LDFLAGS -liconv"}]}.

{port_specs, [{"priv/iconverl.so", ["c_src/iconverl.c"]}]}.
